    <%- layout('layouts/boilerplate')%>
    <h1>Add a new Book</h1>
    <form action="/books" method="POST">
        <div>
            <label for="title">Title: </label><br>
            <input type="text" id="title" name="title"><br><br>
        </div>
        <div>
            <label for="author">Author: </label><br>
            <input type="text" id="author" name="author"><br><br>
        </div>
        <div>
            <label for="description">Description: </label><br>
            <input type="text" id="description" name="description"><br><br>
        </div>
        <div>
            <label for="genre">Genre: </label><br>
            <select name="genre" id="genre" aria-placeholder="Choose Genre">
                <option value="Fiction">Fiction</option>
                <option value="Non-Fiction">Non-Fiction</option>
                <option value="Autobiography">Autobiography</option>
                <option value="Self-help">Self-help</option>
            </select><br><br>
        </div>
        <div>
            <label for="price">Price: </label><br>
            <input type="number" name="price" id="price"><br><br>
        </div>
        <div>
            <label for="year">Year: </label><br>
            <input type="number" name="year" id="year"><br><br>
        </div>
        <button>Add</button>
    </form>