<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a book</title>
</head>
<body>
    <form action="POST">
        <label for="title">Title: </label><br>
        <input type="text" id="title" name="title">
        <label for="author">Author: </label><br>
        <input type="text" id="author" name="author">
        <label for="description">Description: </label><br>
        <input type="text" id="description" name="description">
        <input type="radio" name="genre" id="Fiction" value="Fiction">
        <label for="Fiction">Fiction</label>
        <input type="radio" name="genre" id="Non-Fiction" value="Non-Fiction">
        <label for="Non-Fiction">Non-Fiction</label>
        <input type="radio" name="genre" id="Self-help" value="Self-help">
        <label for="Fiction">Self-help</label>
        <input type="radio" name="genre" id="Autobiography" value="Autobiography">
        <label for="Autobiography">Autobiography</label>
        <label for="price">Price: </label>
        <input type="number" name="price" id="price">
        <label for="year">Year: </label>
        <input type="number" name="year" id="year">
        <input type="submit" value="submit">
    </form>
    
</body>
</html>